@page "/"
@using UTracker.Models
@inject UserService UserService
@inject NavigationManager NavigationManager

<style>
    body {
        background-image: url('/assets/moneyy.jpg');
    }
</style>

<div class="login-container">
    <div class="login-box">
        <h5>Transaction Tracker App</h5>
        <h6>Login</h6>
        <hr />
        <div class="form-group">
            <label for="username">Username:</label>
            <input id="username" @bind="Username" placeholder="Enter username" />
        </div>
        <br />
        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" @bind="Password" type="password" placeholder="Enter password" />
        </div>
        <button @onclick="LoginUser" class="login-button">Login</button>
        <p class="register-link">Register an account. <a href="/register" style="color: white"><u>Register</u></a></p>

        @if (ErrorMessage != null)
        {
            <p class="error-message">@ErrorMessage</p>
        }
    </div>
</div>

@if (ErrorMessage != null)
{
    <p style="color: red;">@ErrorMessage</p>
}

@code {
    private string Username;
    private string Password;
    private string? ErrorMessage;

    private async Task LoginUser()
    {
        try
        {
            var user = await UserService.GetUser(Username, Password);
            if (user != null)
            {
                ErrorMessage = null;
                NavigationManager.NavigateTo("/dashboard");
            }
            else
            {
                ErrorMessage = "Invalid username or password.";
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = $"Error: {ex.Message}";
        }
    }
}
